.battlefield {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.char {
  border: 2px dashed #e3c3c3;
  border-radius: 12px;
  padding: 2rem;
}

.player {
  border-color: #9393f3;
}

.flex-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  max-width: fit-content;
  outline: none;
  border: 2px solid #cdcdcd;
  border-radius: 12px;
  background-color: #2c2c2c;
  color: #e1e1e1;
  padding: .4rem;
  font-weight: 600;
  cursor: pointer;
}
button:disabled {
  opacity: 0.4;
}

button:hover {
  background-color: #4d4d4d;
}

#activity {
  background-color: #313131;
  color: white;
  height: 7rem;
  width: 40em;
  overflow-y: scroll;
  padding: .5rem;
}
